<link href="/static/css/contacts.css" rel="stylesheet">

<div class="container margin_60_40">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 add_bottom_25">
      <div class="box_contacts">
        <i class="bi bi-twitter"></i>
        <h2>Twitter</h2>
        <a href="#0">help@magellano.com</a>
      </div>
      <div class="box_contacts">
        <i class="bi bi-facebook"></i>
        <h2>Facebook</h2>
        <a href="#0">info@magellano.com</a>
      </div>
    </div>
  </div>
</div>

<script>
    function load_contact_data() {

    }
</script>