<link href="/static/css/contacts.css" rel="stylesheet">

<div class="container margin_60_40">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 add_bottom_25">
      <div class="box_contacts">
        <i class="bi bi-twitter"></i>
        <h2>Twitter</h2>
        <a href="https://twitter.com/Unicorns_Web">Unicorns_NFT</a>
      </div>
      <div class="box_contacts">
        <i class="bi bi-discord"></i>
        <h2>Discord</h2>
        <a href="https://discord.com/invite/unicorns-nft">Unicorns-nft</a>
      </div>
      <div class="box_contacts">
        <i class="bi bi-telegram"></i>
        <h2>Telegram</h2>
        <a href="https://t.me/unicornsNFT">Unicorns_NFT global OW</a>
      </div>
    </div>
  </div>
</div>

<script>
    function load_contact_data() {

    }
</script>