<div class="hero_single version_2 jarallax" data-jarallax="">
<!--  <img class="jarallax-img" src="/static/picture/hero_general.jpg" alt="">-->
  <img class="jarallax-img" src="/static/picture/banner.jpg" alt="">
  <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-10">
          <h1 class="one">Inflation in the World hits 13-year high, Don't worry,</h1>
          <h4 class="two text-white">Unicorns can take you against inflation. A variety of products for you</h4>
          <!-- /row -->
        </div>
      </div>
      <!-- /row -->
    </div>
  </div>
  <div class="wave hero"></div>
</div>

<div class="container margin_90_90">
  <div class="main_title center">
    <span><em></em></span>
    <h2>Unicorns NFT</h2>
    <p>CONNECT YOUR WEB3.0 NFT</p>
  </div>
  <!-- /main_title -->

  <div class="owl-carousel owl-theme featured_carousel" data-cue="slideInUp">
    <div class="item">
      <div class="strip">
        <figure>
          <img src="/nft_img/1.jpg" data-src="/nft_img/1.jpg" class="owl-lazy" alt="" width="533" height="400">
          <a href="javascript:void(0)" class="strip_info">
            <div class="item_title">
              <h3>Unicorns Alternative solutions fund A(Daily rate of return 1%)</h3>
              <small id="nft_1_price">- USDT / 0 Left</small>
            </div>
          </a>
        </figure>
        <ul>
          <li>
            <a href="javascript:void(0)" class="author">
              <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                <figure>
                  <img src="/static/picture/avatar-placeholder.png" data-src="/img/avatar2.jpg" alt="" class="owl-lazy" width="100" height="100">
                </figure>
              </div>
              <h6>@George_luke</h6>
            </a>
          </li>
        </ul>
        <p class="text-center" data-cue="slideInUp">
          <a id="purchase_1" class="btn_1 medium pulse_bt ladda-button mb-3" data-style="zoom-in" onclick="purchase(1)">Purchase
            Now</a>
        </p>
      </div>
    </div>

    <div class="item">
      <div class="strip">
        <figure>
          <img src="/nft_img/2.jpg" data-src="/nft_img/2.jpg" class="owl-lazy" alt="" width="533" height="400">
          <a href="javascript:void(0)" class="strip_info">
            <div class="item_title">
              <h3>Unicorns Alternative solutions fund B(Daily rate of return 3%)</h3>
              <small id="nft_2_price">- USDT / 0 Left</small>
            </div>
          </a>
        </figure>
        <ul>
          <li>
            <a href="javascript:void(0)" class="author">
              <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                <figure>
                  <img src="/static/picture/avatar-placeholder.png" data-src="/img/avatar2.jpg" alt="" class="owl-lazy" width="100" height="100">
                </figure>
              </div>
              <h6>@George_luke</h6>
            </a>
          </li>
        </ul>
        <p class="text-center" data-cue="slideInUp">
          <a id="purchase_2" class="btn_1 medium pulse_bt ladda-button mb-3" data-style="zoom-in" onclick="purchase(2)">Purchase
            Now</a>
        </p>
      </div>
    </div>

    <div class="item">
      <div class="strip">
        <figure>
          <img src="/nft_img/3.jpg" data-src="/nft_img/3.jpg" class="owl-lazy" alt="" width="533" height="400">
          <a href="javascript:void(0)" class="strip_info">
            <div class="item_title">
              <h3>Unicorns Alternative solutions fund C(Daily rate of return 4.5%)</h3>
              <small id="nft_3_price">- USDT / 0 Left</small>
            </div>
          </a>
        </figure>
        <ul>
          <li>
            <a href="javascript:void(0)" class="author">
              <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                <figure>
                  <img src="/static/picture/avatar-placeholder.png" data-src="/img/avatar2.jpg" alt="" class="owl-lazy" width="100" height="100">
                </figure>
              </div>
              <h6>@George_luke</h6>
            </a>
          </li>
        </ul>
        <p class="text-center" data-cue="slideInUp">
          <a id="purchase_3" class="btn_1 medium pulse_bt ladda-button mb-3" data-style="zoom-in" onclick="purchase(3)">Purchase
            Now</a>
        </p>
      </div>
    </div>

    <div class="item">
      <div class="strip">
        <figure>
          <img src="/nft_img/4.jpg" data-src="/nft_img/4.jpg" class="owl-lazy" alt="" width="533" height="400">
          <a href="javascript:void(0)" class="strip_info">
            <div class="item_title">
              <h3>Unicorns Alternative solutions fund D(Daily rate of return 6%) </h3>
              <small id="nft_4_price">- USDT / 0 Left</small>
            </div>
          </a>
        </figure>
        <ul>
          <li>
            <a href="javascript:void(0)" class="author">
              <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                <figure>
                  <img src="/static/picture/avatar-placeholder.png" data-src="/img/avatar2.jpg" alt="" class="owl-lazy" width="100" height="100">
                </figure>
              </div>
              <h6>@George_luke</h6>
            </a>
          </li>
        </ul>
        <p class="text-center" data-cue="slideInUp">
          <a id="purchase_4" class="btn_1 medium pulse_bt ladda-button mb-3" data-style="zoom-in" onclick="purchase(4)">Purchase
            Now</a>
        </p>
      </div>
    </div>

    <div class="item">
      <div class="strip">
        <figure>
          <img src="/nft_img/5.jpg" data-src="/nft_img/5.jpg" class="owl-lazy" alt="" width="533" height="400">
          <a href="javascript:void(0)" class="strip_info">
            <div class="item_title">
              <h3>Unicorns Alternative solutions fund E(Daily rate of return 7.5%)</h3>
              <small id="nft_5_price">- USDT / 0 Left</small>
            </div>
          </a>
        </figure>
        <ul>
          <li>
            <a href="javascript:void(0)" class="author">
              <div class="author_thumb veryfied"><i class="bi bi-check"></i>
                <figure>
                  <img src="/static/picture/avatar-placeholder.png" data-src="/img/avatar2.jpg" alt="" class="owl-lazy" width="100" height="100">
                </figure>
              </div>
              <h6>@George_luke</h6>
            </a>
          </li>
        </ul>
        <p class="text-center" data-cue="slideInUp">
          <a id="purchase_5" class="btn_1 medium pulse_bt ladda-button mb-3" data-style="zoom-in" onclick="purchase(5)">Purchase
            Now</a>
        </p>
      </div>
    </div>

  </div>
  <!-- /carousel -->
</div>
<!-- /container -->
<script>
    function load_home_data() {
    }

    function purchase(level) {
        if (!registered) {
            swal('Notice', 'You are required to complete the registration and then try again.', 'info');
            return;
        }

        contract_usdt.methods.allowance(address, Constants.contract.address).call().then(rs => {
            let allow = new BN(rs);
            if (allow.lt(min_allowance)) {
                // Approve
                contract_usdt.methods.approve(Constants.contract.address, max_amount).send({from: address})
                    .on('receipt', (receipt) => {
                        sync_approve();
                        contract.methods.buy(level).send({from: address})
                            .on('transactionHash', hash => {
                                swal('Success', 'You have purchased successfully. Please wait for blockchain confirmation.', 'success');
                            })
                            .on('error', (err) => {
                                swal('Error', err.message, 'error');
                            });
                    })
                    .on('error', (err) => {
                        console.log(err);
                        swal('Error', err.message, 'error');
                    });
            } else {
                contract.methods.buy(level).send({from: address})
                    .on('transactionHash', hash => {
                        swal('Success', 'You have purchased successfully. Please wait for blockchain confirmation.', 'success');
                    })
                    .on('error', (err) => {
                        swal('Error', err.message, 'error');
                    });
            }
        });
    }

    function load_nft_info(i) {
        contract.methods.price(i).call().then(price => {
            $('#nft_' + i + '_price').text(Constants.contract_usdt.to_display_amount(price) + ' USDT');
        });
    }

    function load_nft_infos() {
        for (let i = 1; i <= 6; i++) {
            load_nft_info(i);
        }
    }

    call_backs.push(
        function () {
            load_nft_infos();
        }
    );
</script>