<link href="/static/css/author.css" rel="stylesheet">

<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-lg-3">
      <div class="main_profile edit_section">
        <div class="author">
          <div class="author_thumb veryfied">
            <figure>
              <img src="/img/avatar1.jpg" data-src="/img/avatar1.jpg" alt="" class="lazy loaded" width="100" height="100" data-was-processed="true">
            </figure>
          </div>
        </div>
        <h4 id="my_address"></h4>
        <ul>
          <li><a href="javascript:void(0)"><i class="bi bi-cash-coin"></i><span id="span_my_token">- NUF</span></a></li>
          <li><a href="javascript:void(0)"><i class="bi bi-images"></i><span id="span_my_nft">- NFT</span></a></li>
          <li>
            <a href="javascript:void(0)"><i class="fas fa-user"></i><span id="span_children_count">- Children</span></a>
          </li>
          <div>Click
            <i id="copy_my_url" class="fas fa-copy" data-clipboard-action="copy" data-clipboard-target="#span_my_url"
               onclick="copy_data('copy_my_url')"></i> to copy your invitation url:
          </div>
          <small style="word-break: break-all" id="span_my_url">-</small>
        </ul>
      </div>
    </div>
    <div class="col-lg-9 ps-lg-5">
      <div class="main_title version_2">
        <span><em></em></span>
        <h2>My NFT</h2>
      </div>

      <div id="my_nft_container" class="row isotope-wrapper">
      </div>

      <div id="no_nft" class="text-center p-10" style="display: none">
        <i class="fa fa-exclamation-circle"></i> No record
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /row -->
</div>

<script>
    function load_mine_data() {
        if (registered) {
            load_my_info();
            load_my_nft();
            load_children_count();
        }
    }

    function copy_data(obj) {
        new Clipboard('#' + obj).on('success', function (e) {
            swal('Notice', 'Copied');
        });
    }

    function load_my_info() {
        $('#span_my_url').text('<%= Utils::Constants::BASE_URI %>?i=' + address);
        Business.get(
            '/user/users/my_info', {address: address},
            function (data) {
                $('#span_my_token').text(data.formatted_token_balance + ' NUF');
            }
        );
    }

    function load_meta_data(token_id) {
        contract.methods.tokenURI(token_id).call().then(uri => {
            $.ajax({
                type: 'get',
                url: uri,
                dataType: 'json',
                success: function (data) {
                    $('#img_nft_' + token_id).attr('src', data.image);
                    $('#name_nft_' + token_id).text('#' + token_id + ' ' + data.name);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });
    }

    function load_my_nft() {
        $('#my_nft_container').empty();
        contract.methods.tokensOfOwner(address).call().then(rs => {
            $('#span_my_nft').text(rs.length + ' NFT');
            if (rs.length === 0) {
                $('#no_nft').show();
            } else {
                for (let i = 0; i < rs.length; i++) {
                    let token_id = rs[i];
                    $('#my_nft_container').append(
                        '<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 isotope-item art">' +
                        '<div class="strip">' +
                        '<figure>' +
                        '<img id="img_nft_' + token_id + '" class="lazy" alt="" width="533" height="400">' +
                        '<a href="javascript:void(0)" class="strip_info">' +
                        '<div class="item_title">' +
                        '<h3 id="name_nft_' + token_id + '">#' + token_id + '</h3>' +
                        '</div>' +
                        '</a>' +
                        '</figure>' +
                        '<ul>' +
                        '<li>' +
                        '<div class="author">' +
                        '<div class="author_thumb veryfied"><i class="bi bi-check"></i>' +
                        '<figure>' +
                        '<img src="/img/avatar2.jpg" alt="" class="lazy" width="100" height="100">' +
                        '</figure>' +
                        '</div>' +
                        '<h6>@George_luke</h6>' +
                        '</div>' +
                        '</li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>'
                    );
                    load_meta_data(token_id);
                }
            }
        });
    }

    function load_children_count() {
        contract.methods.childrenCount(address).call().then(count => {
            $('#span_children_count').text(count + ' Children');
        });
    }

    call_backs.push(
        function () {
            load_my_info();
            load_my_nft();
            load_children_count();
        }
    );
</script>